Source: monkeysign
Section: utils
Priority: extra
Maintainer: Antoine Beaupré <anarcat@debian.org>
Build-Depends: debhelper (>= 8.0.0), python (>= 2.6)
Standards-Version: 3.9.3
Homepage: http://web.monkeysphere.info/
Vcs-Git: git://git.monkeysphere.info/monkeysign
#Vcs-Browser: http://git.debian.org/?p=collab-maint/monkeysign.git;a=summary

Package: monkeysign
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-qrencode, python-gtk2, python-pyme, python-zbarpygtk
Description: OpenPGP key exchange for humans
 monkeysign is a tool to overhaul the OpenPGP keysigning experience
 and bring it closer to something that most primates can understand.
 .
 The project makes use of cheap digital cameras and the type of bar
 code known as a QRcode to provide a human-friendly yet still-secure
 keysigning experience.
 .
 No more reciting tedious strings of hexadecimal characters.  And, you
 can build a little rogue's gallery of the people that you have met
 and exchanged keys with!
